<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snapp Express!</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>

<body class="body">
    <div class="d-flex justify-content-md-center align-items-center vh-100">
        <div>
            <img id="qr" src="./img/QR.png" alt="">
            <div><span style="display:none" id="time" class="Time">00:00</span></div>
        </div>
    </div>
    <script src="./socket.io/socket.io.js"></script>

    <script>
        let socket = io();
        socket.on("reload", () => {
            location.reload();
        })

        socket.on("Timer", (time) => {
            var myAudio = new Audio('/media/notif.mp3');
            myAudio.play();
            startTimer(time)
            isPause = false
        })

        socket.on("pause", pause)

        function pause() {
            isPause = !isPause
        }

        let interval;
        let intpaly
        let isPause = false;

        function startTimer(time) {
            document.getElementById('qr').style.display = 'none'
            document.getElementById('time').style.display = 'block'
            if (interval) {
                clearInterval(interval)
            }
            let yedarsad = ((time * 60) / 100) * 10
            let timeinsec = time * 60
            interval = setInterval(async() => {
                if (isPause == true) return
                seconds = parseInt(timeinsec % 60, 10);
                minutes = parseInt(((timeinsec - seconds) / 60) % 60, 10);
                hour = parseInt(((timeinsec - minutes) / 3600), 10);
                hour = minutes < 10 ? "0" + hour : hour;
                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;
                if (hour != 0) {
                    document.querySelector('#time').style.transition = 'font-size 3s';
                    document.querySelector('#time').style.fontSize = '1400%';
                    document.querySelector('#time').textContent = `${hour}:${minutes}:${seconds}`;
                } else {
                    document.querySelector('#time').style.fontSize = '2000%';
                    document.querySelector('#time').textContent = minutes + ":" + seconds;
                }
                if (timeinsec < 10) {
                    document.body.style.backgroundColor == "red" ? document.body.style.backgroundColor = "#222" : document.body.style.backgroundColor = "red"
                } else {
                    document.body.style.backgroundColor = "#222"
                }

                if (timeinsec == 300) {
                    var myAudio = new Audio('./media/notif.mp3');
                    myAudio.play();
                } else if (timeinsec == 5) {
                    intpaly = setInterval(() => {
                        if (isPause == true) return
                        var myAudio = new Audio('./media/notif.mp3');
                        myAudio.play();
                    }, 1500);
                }
                if (timeinsec != 0) {
                    timeinsec--
                } else {
                    document.body.style.backgroundColor = "#222"
                    clearInterval(intpaly);
                    clearInterval(interval);
                    setTimeout(() => {
                        document.getElementById('qr').style.display = 'block'
                        document.getElementById('time').style.display = 'none'
                    }, 10000);
                }
            }, 1000);
        }
    </script>
    <script src="./js/bootstrap.min.js"></script>
</body>

</html>